In [247]:
import pandas as pd
import numpy as np

In [340]:
PATH = '/home/gordon_local/local_workplace/blobStore/driver_timesheets/boomgate1_4.xlsx'
df = pd.read_excel(PATH, header=1)

# df = df.drop(['Location','Duration','Rate','Total', '#'], axis=1)
df['EmployeeID'] = (df[df.Employee.str.contains('_',regex=False)]
                    .Employee
                    .str.split("_",1,expand =True)[0])

df['Employee'] = [x.split("_")[1] if len(x.split("_")) > 1 else x.split("_")[0] for x in df.Employee]
df['Employee']= df.Employee.str.rsplit(" ",1,expand=True)[0]

df['Employee'] = df.Employee.str.lower().str.strip()

df[['lastname','firstname']] = df.Employee.str.split(" ", 1, expand=True)

df['firstname'] = df['firstname'].fillna('nofirstname')

df['middlename'] = [middlename.split(" ")[1] if len(middlename.split(" ")) > 1 else 'nomiddlename' for middlename in df.firstname]
df['firstname']= [firstname.split(" ")[0] if len(firstname.split(" ")) > 1 else firstname for firstname in df.firstname]
df = df.drop(['Location','Duration','Rate','Total'], axis=1)

df['Department'] = df.Department.str.lower()
df['Department'] = df['Department'].fillna(' ')
df = df[df.Department.str.lower().str.startswith('operations')]
df.pop('#')

df['Time In'] = [entryEvent.split("at")[1].strip().rsplit(":", 1)[0] if entryEvent.lower().startswith('entry') else entryEvent for entryEvent in df['Time In']]
df['Time Out'] = [exitevent.split("at")[1].strip().rsplit(":", 1)[0] if exitevent.lower().startswith('exit') else df['Time Out'].iloc[i] for i, exitevent in enumerate(df['Time In'])]

df['Time In'] = [np.nan if entryEvent.lower().startswith('exit') else entryEvent for entryEvent in df['Time In']]
df['Time In']= pd.to_datetime(df['Time In'], format='%d/%m/%Y %H:%M')
df['Time Out']= pd.to_datetime(df['Time Out'], format='%d/%m/%Y %H:%M')
df = df.sort_values(["firstname", "Time In"], ascending = (True, True))
df['EmployeeID'] = df['EmployeeID'].str.lower()
df.head()
# df.to_csv('./og_boomgate.csv')

,Employee,Department,Time In,Time Out,EmployeeID,lastname,firstname,middlename
0,roberts gary,operations sw,2021-04-17 09:02:00,NaT,SWROBGAR,roberts,gary,nomiddlename
1,walden alan,operations sw,2021-04-17 08:48:00,2021-04-17 08:54:00,NaN,walden,alan,nomiddlename
2,walden alan,operations sw,2021-04-17 08:10:00,2021-04-17 08:26:00,NaN,walden,alan,nomiddlename
3,edwards benjamin john,operations sw,2021-04-17 07:03:00,NaT,SWEDWBEN,edwards,benjamin,john
4,nevin paul,operations sw,2021-04-17 05:18:00,NaT,SWNEVPJ,nevin,paul,nomiddlename

In [341]:

df.to_csv('./completed_boomgate_records.csv')

In [332]:
df.head(50)

,Employee,Department,Time In,Time Out,EmployeeID,lastname,firstname,middlename
0,roberts gary,operations sw,2021-04-17 09:02:00,NaT,SWROBGAR,roberts,gary,nomiddlename
1,walden alan,operations sw,2021-04-17 08:48:00,2021-04-17 08:54:00,NaN,walden,alan,nomiddlename
2,walden alan,operations sw,2021-04-17 08:10:00,2021-04-17 08:26:00,NaN,walden,alan,nomiddlename
3,edwards benjamin john,operations sw,2021-04-17 07:03:00,NaT,SWEDWBEN,edwards,benjamin,john
4,nevin paul,operations sw,2021-04-17 05:18:00,NaT,SWNEVPJ,nevin,paul,nomiddlename
5,te ture tom,operations isse,2021-04-17 03:18:00,NaT,IR20,te,ture,tom
6,sheather keven,operations sw,2021-04-17 02:48:00,NaT,SWSHEKEV,sheather,keven,nomiddlename
7,adonis akl,operations sw,2021-04-17 01:55:00,NaT,SWAKLADO,adonis,akl,nomiddlename
8,singh victor,operations sw,NaT,2021-04-17 01:40:00,SWSINVIC,singh,victor,nomiddlename
9,walden alan,operations sw,2021-04-17 01:16:00,2021-04-17 01:42:00,NaN,walden,alan,nomiddlename
10,dinh viet hong phuoc,operations sw,2021-04-17 00:26:00,NaT,SWDINVIE,dinh,viet,hong
11,te ture tom,operations isse,NaT,2021-04-16 23:03:00,IR20,te,ture,tom
12,adonis akl,operations sw,2021-04-16 22:52:00,NaT,SWAKLADO,adonis,akl,nomiddlename
13,edwards benjamin john,operations sw,NaT,2021-04-16 17:30:00,SWEDWBEN,edwards,benjamin,john
16,hearn ray,operations sw,2021-04-16 15:33:00,NaT,SWHEARAY,hearn,ray,nomiddlename
18,tait mitchell,operations sw,2021-04-16 14:53:00,NaT,SWMITTAI,tait,mitchell,nomiddlename
19,walden alan,operations sw,2021-04-16 14:47:00,2021-04-16 16:35:00,NaN,walden,alan,nomiddlename
21,hearn ray,operations sw,2021-04-16 14:16:00,NaT,SWHEARAY,hearn,ray,nomiddlename
24,do albertran,operations swift,2021-04-16 13:42:00,2021-04-17 04:49:00,SWDOALB,do,albertran,nomiddlename
25,dean zaheer attaul islam,operations isse,2021-04-16 13:42:00,2021-04-17 00:01:00,IRDEAZ,dean,zaheer,attaul
26,burgess leigh scott,operations sw,2021-04-16 13:37:00,NaT,SWBURLEI,burgess,leigh,scott
27,bracey nathan john,operations sw,2021-04-16 13:26:00,NaT,SWBRANAT,bracey,nathan,john
28,liu phillip,operations sw,2021-04-16 13:16:00,2021-04-16 14:59:00,SWLIP,liu,phillip,nomiddlename
29,john justice,operations sw,2021-04-16 13:04:00,NaT,SWJUSJOH,john,justice,nomiddlename
30,ruhr johnann otto,operations isse,2021-04-16 13:02:00,2021-04-16 17:32:00,IR02,ruhr,johnann,otto
31,david michael right,operations sw,2021-04-16 12:58:00,NaT,SWRIGDA,david,michael,right
32,white neil john,operations sw,2021-04-16 12:29:00,NaT,SWWHINEI,white,neil,john
33,ward robert james,operations sw,2021-04-16 12:18:00,2021-04-17 01:12:00,SWWARROB,ward,robert,james
34,john field,operations sw,2021-04-16 12:08:00,2021-04-17 02:35:00,SWFIEJIH,john,field,nomiddlename
35,walden alan,operations sw,2021-04-16 12:04:00,NaT,NaN,walden,alan,nomiddlename
36,fekefekaiatu,operations sw,2021-04-16 12:02:00,NaT,SWTUPFEK,fekefekaiatu,nofirstname,nomiddlename
37,julian lee taurima,operations isse,2021-04-16 11:56:00,2021-04-17 06:16:00,SWTAUJUL,julian,lee,taurima
38,li qi (ricky),operations sw,2021-04-16 11:38:00,NaT,SWLIQI,li,qi,(ricky)
39,julian lee taurima,operations isse,NaT,2021-04-16 11:34:00,SWTAUJUL,julian,lee,taurima
40,hewitt 24/01/1961,operations sw,2021-04-16 11:30:00,NaT,SWHEWG,hewitt,24/01/1961,nomiddlename
41,walden alan,operations sw,2021-04-16 11:26:00,2021-04-16 12:41:00,NaN,walden,alan,nomiddlename
42,roberts gary,operations sw,2021-04-16 11:25:00,2021-04-17 02:00:00,SWROBGAR,roberts,gary,nomiddlename
44,john tubuaitua,operations sw,2021-04-16 11:08:00,2021-04-16 17:04:00,SWTUBJOH,john,tubuaitua,nomiddlename
45,locke brad,operations sw,2021-04-16 10:26:00,NaT,SWLOCBRA,locke,brad,nomiddlename
46,moylan lou,operations sw,2021-04-16 10:19:00,NaT,SWMOYLOU,moylan,lou,nomiddlename
47,edwards benjamin john,operations sw,2021-04-16 09:50:00,2021-04-16 17:19:00,SWEDWBEN,edwards,benjamin,john
48,boland luke,operations isse,2021-04-16 09:36:00,NaT,IR12,boland,luke,nomiddlename
49,singh victor,operations sw,NaT,2021-04-16 09:20:00,SWSINVIC,singh,victor,nomiddlename
52,david michael right,operations sw,2021-04-16 08:45:00,NaT,SWRIGDA,david,michael,right
56,dinh viet hong phuoc,operations sw,2021-04-16 08:13:00,NaT,SWDINVIE,dinh,viet,hong
61,hearn ray,operations sw,2021-04-16 06:57:00,NaT,SWHEARAY,hearn,ray,nomiddlename
63,nevin paul,operations sw,2021-04-16 05:47:00,2021-04-16 17:43:00,SWNEVPJ,nevin,paul,nomiddlename
65,dinh viet hong phuoc,operations sw,2021-04-16 04:12:00,NaT,SWDINVIE,dinh,viet,hong
66,dinh viet hong phuoc,operations sw,2021-04-16 04:12:00,NaT,SWDINVIE,dinh,viet,hong
67,dinh viet hong phuoc,operations sw,2021-04-16 04:11:00,NaT,SWDINVIE,dinh,viet,hong

In [329]:
# df[df.EmployeeID.str.lower() == 'swaklado']
# df.head(50)
# df['Time In'] = pd.to_datetime(df['Time In'], format='%d/%m/%Y %H:%M')
# df['Time In'].str.rspl

In [195]:
df['Time In'] = [entryEvent.split("at")[1].strip() if entryEvent.lower().startswith('entry') else entryEvent for entryEvent in df['Time In']]

In [ ]:
# [x.split(" ")[1] if len(x.split(" ")) > 1 else x.split(" ")[0] for x in df.lastname.loc[~df.lastname.isnull()]]

# [ x for x in df.lastname if len(x.split("_")) > 1]

# df.head(50)
# df['Time In'] = [entryEvent.split("at")[1].strip() if entryEvent.lower().startswith('entry') else entryEvent for entryEvent in df['Time In']]
df['Time In'] = [np.nan if entryEvent.lower().startswith('exit') else entryEvent for entryEvent in df['Time In']]

# df = df.sort_values('Employee')
# [print(i) if entryEvent.lower().startswith('entry') else print(i) for i, entryEvent in enumerate(df['Time In'])]
# df.head()
# df.iloc[10]

# df['Time Out'] = [exitevent.split("at")[1].strip() if exitevent.lower().startswith('exit') else df['Time Out'].iloc[i] for i, exitevent in enumerate(df['Time In'])]

# df.sort_values('Employee')
# df['Time Out'] = [exitevent.split("at")[1].strip() if exitevent.lower().startswith('exit') else np.nan for exitevent in df['Time In']]
# df['Time Out'] = [exitevent.split("at")[1].strip() if exitevent.lower().startswith('exit') else  for exitevent in df['Time In']]
# [x.split(" ")[0] if len(x.split(" ")) > 1 else x for x in df.lastname]
# df['lastname'] = 

# df['Department'] = df['Department'].fillna(' ')

# df=df[df['Department'].str.lower().str.startswith('operations')]
# # df.sort_values('Employee').head(200)
# df[df['Employee'].str.lower().str.startswith('s')].sort_values('Employee').head(200).to_csv('./adonis.csv')

# df.loc[df['Employee'] == 'adonis akl']

In [ ]:
# df['Time In'].str.lower().str.startswith('entry').str.split("at", 1)
# [timein  for timein in df['Time In'] if timein.lower().startswith('entry')]
# df_1['Time In'].str.split('at', 1, expand=True)
# df['Time In'] = [timein.split("at")[1].strip() if timein.lower().startswith('entry') else timein for timein in df['Time In']]
# df['Time In'].str.strip()

# df['Time Out'].iloc[1]

# df['EmployeeID'] = 
# df['EmployeeID'] = 

# df[['Employee', 'EmployeeID']]= df.Employee.str.split("_",1,expand =True)
# df['Employee'] = df.Employee.str.split("_",1,expand =True)[1]

# 
# df.Employee.str.split("_",1,expand =True)
# df.Employee
# .extract(r'(_[^_]+$)')
# df['Employee']= df.loc[df.Employee.str.split("_").agg(len) > 1].Employee.str.split("_")[1]
# df.Employee.str.split("_")

# df.Employee.str.extract(r'^(.*)(_.*?)$', expand=True)

#  x.split(':')  df[['Machine', 'Action']] =   .str.split("_",1,expand =True)