In [21]:
import pandas as pd
import numpy as np

In [178]:
PATH = '/home/gordon_local/local_workplace/blobStore/driver_timesheets/Tanda.xlsx'

dfs = pd.read_excel(PATH, sheet_name=None,header=0)

all_sheetnames = list(dfs.keys())[1:]

sheetnames = all_sheetnames[1:]

df = dfs[sheetnames[0]]

current_df_date = df.columns[0].replace(" ","/").lower()
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
df['Date'] = f"{current_df_date}/2021"
df['tanda_start_time'] = pd.to_datetime(df['Date'] + " " + df['Start'], format="%d/%B/%Y %I:%M %p")
df['Breaks'] = pd.to_numeric(df['Breaks'], errors='coerce')

df['tanda_end_time'] = df['tanda_start_time']+ pd.to_timedelta(df.Length, unit='h') + pd.to_timedelta(df.Breaks, unit='T')

df[['firstname', 'lastname']]= df.Name.str.strip().str.lower().str.split(" ", 1, expand=True)

df['middlename'] = [middlename.strip().rsplit(" ", 1)[0] if len(middlename.strip().rsplit(" ")) > 1 else 'nomiddlename' for middlename in df.lastname]
df['lastname'] = [lastname.strip().rsplit(" ", 1)[1] if len(lastname.strip().rsplit(" ")) > 1 else lastname for lastname in df.lastname]
drop_cols = [
            'Locations', 
            'Teams',
            'Base Hourly',
            'Clerks - Base Hourly', 
            'Clerks - Casual Base',             
#             'Clerks - OT x1.5', 
#             'Clerks - OT x2.0',
            'NOR1',
            'NOR1.25',
            'NOR1.3',
            'OT1.5', 
            'OT1.6', 
            'OT2',
            'OT2.1',
            'Transport Allowance'
        ]

df = df.drop(drop_cols, axis=1)
df['tanda_end_time'] = df['tanda_end_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
df['tanda_end_time'] = pd.to_datetime(df['tanda_end_time'], format="%Y-%m-%d %H:%M:%S")
df = df.sort_values(["Name", "tanda_start_time"], ascending = (False, False))
df.info()
# df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 36 to 1
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              36 non-null     object
 1   Start             36 non-null     object
 2   End               36 non-null     object
 3   Breaks            36 non-null     float64
 4   Length            36 non-null     object
 5   Date              36 non-null     object
 6   tanda_start_time  36 non-null     datetime64[ns]
 7   tanda_end_time    36 non-null     datetime64[ns]
 8   firstname         36 non-null     object
 9   lastname          36 non-null     object
 10  middlename        36 non-null     object
dtypes: datetime64[ns](2), float64(1), object(8)
memory usage: 3.4+ KB

In [158]:
# df = df.rename(columns=df.iloc[0]).drop(df.index[0])
# df['middlename'] = [middlename.strip().rsplit(" ")[0] if len(middlename.strip().rsplit(" ")) > 1 else 'nomiddlename' for middlename in df.lastname]
# df['lastname'] = [lastname.strip().rsplit(" ")[1] if len(lastname.strip().rsplit(" ")) > 1 else lastname for lastname in df.lastname]
# df.lastname.str.strip().str.rsplit(" ", 1, expand=True)
# df['lastname'] = [lastname.rsplit(" ")[1] if len(lastname.rsplit(" ")) > 1 else lastname for lastname in df.lastname]
# lastname.rsplit(" ")[1]
df

,Name,Start,End,Breaks,Length,Date,tanda_start_time,tanda_end_time,firstname,lastname,middlename
32,Zaheer Attaul Islam Dean,03:13 AM,01:40 PM,24.0,10.05,13/april/2021,2021-04-13 03:13:00,2021-04-13 13:40:00.000000000,zaheer,dean,attaul islam
31,Viet Hong Phuoc Dinh,04:46 PM,02:40 AM,24.0,9.5,13/april/2021,2021-04-13 16:46:00,2021-04-14 02:40:00.000000000,viet,dinh,hong phuoc
30,Vanezza Medina Gavarra,09:00 AM,05:00 PM,24.0,7.6,13/april/2021,2021-04-13 09:00:00,2021-04-13 17:00:00.000000000,vanezza,gavarra,medina
29,Tom Te Ture,05:54 PM,03:20 AM,24.0,9.033,13/april/2021,2021-04-13 17:54:00,2021-04-14 03:19:58.800000000,tom,ture,te
28,Tait Brendan Mitchell,02:42 AM,12:32 PM,24.0,9.433,13/april/2021,2021-04-13 02:42:00,2021-04-13 12:31:58.800000000,tait,mitchell,brendan
27,Robert James Ward,01:55 AM,11:13 AM,24.0,8.9,13/april/2021,2021-04-13 01:55:00,2021-04-13 11:13:00.000000000,robert,ward,james
26,Qi (Ricky) Li,05:26 AM,01:43 PM,24.0,7.883,13/april/2021,2021-04-13 05:26:00,2021-04-13 13:42:58.800000000,qi,li,(ricky)
25,Paul John Nevin,04:59 PM,03:34 AM,24.0,10.184,13/april/2021,2021-04-13 16:59:00,2021-04-14 03:34:02.400000000,paul,nevin,john
24,Paige Sheree Sullivan,08:00 AM,05:00 PM,24.0,8.6,13/april/2021,2021-04-13 08:00:00,2021-04-13 17:00:00.000000000,paige,sullivan,sheree
23,Neil John White,01:08 AM,10:46 AM,24.0,9.234,13/april/2021,2021-04-13 01:08:00,2021-04-13 10:46:02.400000000,neil,white,john
22,Nathan John Bracey,03:30 AM,01:27 PM,24.0,9.55,13/april/2021,2021-04-13 03:30:00,2021-04-13 13:27:00.000000000,nathan,bracey,john
21,Ming Yiu Tang,09:00 AM,05:00 PM,24.0,7.6,13/april/2021,2021-04-13 09:00:00,2021-04-13 17:00:00.000000000,ming,tang,yiu
20,Ma Vaneza Ong,09:00 AM,05:00 PM,24.0,7.6,13/april/2021,2021-04-13 09:00:00,2021-04-13 17:00:00.000000000,ma,ong,vaneza
19,Luke Boland,10:54 PM,09:17 AM,24.0,9.983,13/april/2021,2021-04-13 22:54:00,2021-04-14 09:16:58.800000000,luke,boland,nomiddlename
18,Lou Moylan,01:53 AM,10:56 AM,24.0,8.651,13/april/2021,2021-04-13 01:53:00,2021-04-13 10:56:03.600000000,lou,moylan,nomiddlename
17,Leigh Scott Burgess,03:46 AM,01:04 PM,24.0,8.9,13/april/2021,2021-04-13 03:46:00,2021-04-13 13:04:00.000000000,leigh,burgess,scott
16,Keven John Sheather,04:45 PM,02:51 AM,24.0,9.7,13/april/2021,2021-04-13 16:45:00,2021-04-14 02:51:00.000000000,keven,sheather,john
15,Judith Punzalan,09:00 AM,05:00 PM,24.0,7.6,13/april/2021,2021-04-13 09:00:00,2021-04-13 17:00:00.000000000,judith,punzalan,nomiddlename
14,John Scott Field,04:39 AM,12:34 PM,24.0,7.517,13/april/2021,2021-04-13 04:39:00,2021-04-13 12:34:01.200000000,john,field,scott
13,John Hafa Tubuaitua,01:45 AM,01:33 PM,24.0,11.4,13/april/2021,2021-04-13 01:45:00,2021-04-13 13:33:00.000000000,john,tubuaitua,hafa
12,John Alexander Justice,04:12 AM,12:40 PM,24.0,8.066,13/april/2021,2021-04-13 04:12:00,2021-04-13 12:39:57.600000000,john,justice,alexander
11,Geraldine Gorzalka,08:00 AM,04:00 PM,24.0,7.6,13/april/2021,2021-04-13 08:00:00,2021-04-13 16:00:00.000000000,geraldine,gorzalka,nomiddlename
10,Gabriella Hewitt,01:52 AM,10:15 AM,24.0,7.983,13/april/2021,2021-04-13 01:52:00,2021-04-13 10:14:58.800000000,gabriella,hewitt,nomiddlename
9,Fekefekaiatu Tupou,01:07 AM,11:06 AM,24.0,9.583,13/april/2021,2021-04-13 01:07:00,2021-04-13 11:05:58.799999999,fekefekaiatu,tupou,nomiddlename
8,Efalata Fevaleaki,07:49 AM,04:02 PM,24.0,7.817,13/april/2021,2021-04-13 07:49:00,2021-04-13 16:02:01.200000000,efalata,fevaleaki,nomiddlename
7,David Michael Right,11:51 PM,11:42 AM,24.0,11.45,13/april/2021,2021-04-13 23:51:00,2021-04-14 11:42:00.000000000,david,right,michael
6,David Michael Right,12:51 AM,09:40 AM,NaN,8.817,13/april/2021,2021-04-13 00:51:00,NaT,david,right,michael
5,Claudine Nitro,08:00 AM,05:00 PM,24.0,8.6,13/april/2021,2021-04-13 08:00:00,2021-04-13 17:00:00.000000000,claudine,nitro,nomiddlename
4,Christopher Andrew Bailey,03:00 AM,11:55 AM,24.0,8.517,13/april/2021,2021-04-13 03:00:00,2021-04-13 11:55:01.200000000,christopher,bailey,andrew
3,Benjamin John Edwards,01:56 AM,10:48 AM,24.0,8.467,13/april/2021,2021-04-13 01:56:00,2021-04-13 10:48:01.200000000,benjamin,edwards,john
2,Albertran Do,03:36 AM,01:09 PM,24.0,9.15,13/april/2021,2021-04-13 03:36:00,2021-04-13 13:09:00.000000000,albertran,do,nomiddlename
1,Adonis Akl,01:47 PM,01:01 AM,24.0,10.834,13/april/2021,2021-04-13 13:47:00,2021-04-14 01:01:02.400000000,adonis,akl,nomiddlename

In [137]:
# df.lastname.str.strip().str.rsplit(" ", 1)
# df , expand=True

# df['lastname'] = [middlename.rsplit(" ")[1] if len(middlename.rsplit(" ")) > 1 else 'nomiddlename' for middlename in df.lastname]

In [138]:
# df

In [ ]:

# for key in dfs_keys:
# # '13 April'
#     print(key)
#     df = dfs[key]

#     df_date = df.columns[0].replace(" ","/").lower()
#     current_date = f"{df_date}/2021"
#     df = df.rename(columns=df.iloc[0]).drop(df.index[0])
#     df['Date'] = current_date

#     df['start_datetime'] = pd.to_datetime(df['Date'] + " " + df['Start'], format="%d/%B/%Y %I:%M %p")
#     df['Breaks'] = pd.to_numeric(df['Breaks'], errors='coerce')
#     df['end_datetime'] = df['start_datetime']+ pd.to_timedelta(df.Length, unit='h') + pd.to_timedelta(df.Breaks, unit='T')
#     df.to_csv(f'/media/sf_BLOB_STORAGE/ss/tanda/{key}.csv')